In [3]:
import pandas as pd 
from io import StringIO

data = '{"Employee_name":"James","email":"james@gmail.com","job profile":[{"title1":"Team Lead","title2":"Sr Developer"}]}'
df = pd.read_json(StringIO(data))

In [4]:
df

,Employee_name,email,job profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr Developer'}"

In [5]:
df.to_json()

'{"Employee_name":{"0":"James"},"email":{"0":"james@gmail.com"},"job profile":{"0":{"title1":"Team Lead","title2":"Sr Developer"}}}'

In [6]:
df.to_json(orient='index')

'{"0":{"Employee_name":"James","email":"james@gmail.com","job profile":{"title1":"Team Lead","title2":"Sr Developer"}}}'

In [7]:
df.to_json(orient='records')

'[{"Employee_name":"James","email":"james@gmail.com","job profile":{"title1":"Team Lead","title2":"Sr Developer"}}]'

In [10]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data",header=None)

In [12]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [13]:
df.to_csv("Wine.csv")

In [17]:
!pip install lxml

Collecting lxml
  Downloading lxml-5.3.0-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Downloading lxml-5.3.0-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB 262.6 kB/s eta 0:00:15
   - -------------------------------------- 0.1/3.8 MB 950.9 kB/s eta 0:00:04
   ---- ----------------------------------- 0.5/3.8 MB 2.4 MB/s eta 0:00:02
   --------- ------------------------------ 0.9/3.8 MB 3.8 MB/s eta 0:00:01
   ------------- -------------------------- 1.3/3.8 MB 4.7 MB/s eta 0:00:01
   ------------------- -------------------- 1.9/3.8 MB 5.7 MB/s eta 0:00:01
   ------------------------ --------------- 2.4/3.8 MB 6.3 MB/s eta 0:00:01
   ------------------------------ --------- 2.9/3.8 MB 6.9 MB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 7.3 MB/s eta 0:00:01
   ---------------------------------------  3.8/3.8 MB 7.6 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 7.2 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.3.0

In [20]:
!pip install html5lib

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: six>=1.9 in c:\users\pshek\appdata\roaming\python\python312\site-packages (from html5lib) (1.16.0)
Collecting webencodings (from html5lib)
  Downloading webencodings-0.5.1-py2.py3-none-any.whl.metadata (2.1 kB)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
   ---------------------------------------- 0.0/112.2 kB ? eta -:--:--
   --- ------------------------------------ 10.2/112.2 kB ? eta -:--:--
   ---------- ---------------------------- 30.7/112.2 kB 435.7 kB/s eta 0:00:01
   ---------------------------------------- 112.2/112.2 kB 1.1 MB/s eta 0:00:00
Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Installing collected packages: webencodings, html5lib
Successfully installed html5lib-1.1 webencodings-0.5.1

In [21]:
url='https://www.fdic.gov/bank-failures/failed-bank-list'
df = pd.read_html(url)

In [23]:
df

[                               Bank Name               City          State  \
 0  Republic First Bank dba Republic Bank       Philadelphia   Pennsylvania
 1                          Citizens Bank           Sac City           Iowa
 2               Heartland Tri-State Bank            Elkhart         Kansas
 3                    First Republic Bank      San Francisco     California
 4                         Signature Bank           New York       New York
 5                    Silicon Valley Bank        Santa Clara     California
 6                      Almena State Bank             Almena         Kansas
 7             First City Bank of Florida  Fort Walton Beach        Florida
 8                   The First State Bank      Barboursville  West Virginia
 9                     Ericson State Bank            Ericson       Nebraska

     Cert                 Aquiring Institution       Closing Date   Fund
 0  27332    Fulton Bank, National Association     April 26, 2024  10546
 1   8758            Iowa Trust & Savings Bank   November 3, 2023  10545
 2  25851               Dream First Bank, N.A.      July 28, 2023  10544
 3  59017            JPMorgan Chase Bank, N.A.        May 1, 2023  10543
 4  57053                  Flagstar Bank, N.A.     March 12, 2023  10540
 5  24735  First Citizens Bank & Trust Company     March 10, 2023  10539
 6  15426                          Equity Bank   October 23, 2020  10538
 7  16748            United Fidelity Bank, fsb   October 16, 2020  10537
 8  14361                       MVB Bank, Inc.      April 3, 2020  10536
 9  18265           Farmers and Merchants Bank  February 14, 2020  10535  ]