In [2]:
import sqlite3

In [3]:
connection = sqlite3.connect("Example.db")
connection
cursor = connection.cursor()

In [7]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS employee(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
)
''')

In [8]:
connection.commit()

In [9]:
cursor.execute('''
SELECT * FROM employee
''')

In [12]:
cursor.execute('''
INSERT INTO employee(name,age,department)
               values("Shay",23,"Data Science")
''')
cursor.execute('''
INSERT INTO employee(name,age,department)
               values("Shiny",24,"Engineer")
''')
cursor.execute('''
INSERT INTO employee(name,age,department)
               values("Shekinah",25,"SDE")
''')
cursor.execute('''
INSERT INTO employee(name,age,department)
               values("She",26,"Python developer")
''')

connection.commit()

In [14]:
cursor.execute('''
SELECT * FROM employee
''')

rows = cursor.fetchall()

In [15]:
for row in rows:
    print(row)

(1, 'Shay', 23, 'Data Science')
(2, 'Shiny', 24, 'Engineer')
(3, 'Shekinah', 25, 'SDE')
(4, 'She', 26, 'Python developer')

In [16]:
cursor.execute("""
UPDATE employee
set age = 34
where name = 'Shay'
""")
connection.commit()

In [19]:
cursor.execute('''
SELECT * FROM employee
''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Shay', 34, 'Data Science')
(2, 'Shiny', 24, 'Engineer')
(3, 'Shekinah', 25, 'SDE')
(4, 'She', 26, 'Python developer')

In [20]:
cursor.execute('''
Delete from employee
               Where name = 'Shay'
''')
connection.commit()

In [21]:
cursor.execute('''
SELECT * FROM employee
''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(2, 'Shiny', 24, 'Engineer')
(3, 'Shekinah', 25, 'SDE')
(4, 'She', 26, 'Python developer')

In [25]:
import sqlite3

# Connect to the SQLite database (use a .db file, not .csv)
connection = sqlite3.connect('Online_Sales.db')

# Create a cursor object
cursor = connection.cursor()

# Create the sales table
cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS sales(
        id INTEGER PRIMARY KEY,
        date TEXT NOT NULL,
        product TEXT NOT NULL,
        sales INTEGER,
        region TEXT
    )
    """
)

# Insert into the sales data
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-02-01', 'Product1', 200, 'South'),
    ('2023-05-01', 'Product1', 300, 'East'),
    ('2023-08-01', 'Product1', 600, 'West'),
    ('2023-10-01', 'Product1', 1000, 'North')
]

cursor.executemany(
    '''
    INSERT INTO sales(date, product, sales, region)
    VALUES (?, ?, ?, ?)
    ''', 
    sales_data
)

# Commit the changes to the database
connection.commit()

In [27]:
cursor.execute('''
SELECT * FROM sales
''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-02-01', 'Product1', 200, 'South')
(3, '2023-05-01', 'Product1', 300, 'East')
(4, '2023-08-01', 'Product1', 600, 'West')
(5, '2023-10-01', 'Product1', 1000, 'North')

In [28]:
connection.close()